body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  /* background-color: #783030; */
}


/* md-card {
  background-color: #D8D8C0;
} */

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background: #333333;
  color: #DDDDDD;
  padding: 15px;
  background: linear-gradient(to right, #903030 , #783030, #904830, #A86048);
}

.md-button.md-primary.md-raised {
  background-color: #783030;
}
.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised.md-focused {
  background-color: #903030;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background: #333333;
  width: 100%;
  border-radius: 0px;
  background: linear-gradient(to right, #903030 , #783030, #904830, #A86048);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

navbar li a:hover {
  text-decoration: underline;
  color: #eee;
}

#searchBox {
  /* background-color: #D8D8C0; */
  height: 150px;
}

.sortOrderButton {
  min-width: 5px;
  padding: 0;
}


.gold {
  color: gold;
}

.no-star {
  color: #aaa;
}

.rating-icon {
  text-shadow:1px 1px 1px black;
  display: inline-block;
}

.star-rating-system {
  outline: none;
}

#header-img {
  height: 16vh;
}

md-toast {
  position: fixed !important;
}