<div class="navbar">
  <div class="container" layout="row" layout-align="center">
    <ul>
      <li>
        <a href="#/profile">Your Taste Profile</a>
      </li>
      <li>
        <a href="#/reviews">Your Reviews</a>
      </li>
      <li>
        <a href="#/select">Rate A Beer</a>
      </li>
      <li>
        <a href="#/about">About</a>
      </li>
    </ul>
    <ul>
      <li ng-controller="LoginController as lc" ng-click="lc.userService.logout()">
        <a href="#/home">Log Out</a>
      </li>
    </ul>
  </div>
</div>