<md-dialog flex-gt-md="40" flex-md="50" flex-sm="60" flex-xs="100" aria-label="Edit your review">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit your review...</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ec.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ec.review.name}}</span>
            <span class="md-subhead">{{ec.review.brewery}}</span>
            <span class="md-subhead">{{ec.review.categoryName}}</span>
            <span class="md-subhead">{{ec.review.styleName}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img ng-src="{{ec.review.imgurl}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <div layout="row">
          <md-card-content flex="50">
            <div layout="row">
              <div layout="column" flex>
                <div layout="row" layout-align="start">
                  <span flex="30" ng-if="ec.review.ibu != undefined"> IBU: {{ec.review.ibu}}</span>
                  <span flex="30" ng-if="ec.review.abv != undefined">ABV: {{ec.review.abv}}%</span>
                </div>
                <div flex>
                  <p>{{ec.review.description}}</p>
                </div>
              </div>
            </div>
          </md-card-content>
          <md-card-actions flex="75" layout="column">
            <div layout="column">
              <span ng-mouseleave="ec.ratingLeave()" ng-click="ec.starRating($event)" class="md-headline star-rating-system">
                <span ng-mouseenter="ec.ratingHover($event)" id="1" class="fa fa-beer dialog-rating-icon rating-icon no-star" aria-hidden="true"></span>
                <span ng-mouseenter="ec.ratingHover($event)" id="2" class="fa fa-beer dialog-rating-icon rating-icon no-star" aria-hidden="true"></span>
                <span ng-mouseenter="ec.ratingHover($event)" id="3" class="fa fa-beer dialog-rating-icon rating-icon no-star" aria-hidden="true"></span>
                <span ng-mouseenter="ec.ratingHover($event)" id="4" class="fa fa-beer dialog-rating-icon rating-icon no-star" aria-hidden="true"></span>
                <span ng-mouseenter="ec.ratingHover($event)" id="5" class="fa fa-beer dialog-rating-icon rating-icon no-star" aria-hidden="true"></span>
              </span>
              <span>{{ec.ratingMessage}}</span>
            </div>
            <md-input-container>
              <label>Edit Comment</label>
              <textarea ng-model="ec.edits.comment"></textarea>
            </md-input-container>
          </md-card-actions>
        </div>
      </md-card>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="ec.cancel()">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="ec.submitEdits(ec.edits)">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>