<div ng-include="'views/partials/nav.html'"></div>
<div layout-gt-sm="row" flex layout-align="center center">
  <md-card>
    <div layout="column">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Enter beer information...</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <form name="beerInfo" ng-submit="ec.submitBeer(ec.cb)">
          <div layout="row">
            <md-input-container>
              <label>Beer Name</label>
              <input name="name" type="text" ng-model="ec.cb.name" required>
              <div ng-messages="beerInfo.$error">
                <div ng-message="required">Please complete this field.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Brewery</label>
              <input type="text" ng-model="ec.cb.brewery" required>
              <div ng-messages="beerInfo.$error">
                <div ng-message="required">Please complete this field.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container>
              <label>IBU</label>
              <input type="number" ng-model="ec.cb.ibu" step=0.1>
            </md-input-container>
            <md-input-container>
              <label>ABV</label>
              <input type="number" ng-model="ec.cb.abv" step=0.1>
            </md-input-container>
            <div layout="column">
              <md-input-container>
                <select name="categorySelect" id="categorySelect" ng-options="category.name for category in ec.data.categories track by category.id"
                  ng-model="ec.cb.category" required>
                  <option value="">Select Category</option>
                </select>
              </md-input-container>
              <md-input-container ng-show="ec.cb.category">
                <select name="styleSelect" id="styleSelect" ng-options="style.shortName for style in ec.data.styles | filter: {categoryId: ec.cb.category.id} track by style.id" ng-model="ec.cb.style"
                  required>
                  <option value="">Select Category</option>
                </select>
              </md-input-container>
            </div>
          </div>
          <div layout="row">
            <md-input-container flex="75">
              <label>Description</label>
              <textarea ng-model="ec.cb.description"></textarea>
            </md-input-container>
            <md-card-actions>
              <md-button class="md-primary md-raised" type="submit">Submit</md-button>
            </md-card-actions>
          </div>
        </form>
      </md-card-content>
    </div>
  </md-card>
</div>