<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div layout-gt-xs="row" layout-align="center center">
    <h1>Welcome, {{pc.userObject.userName}}!</h1>
    <md-button class="md-primary md-raised" layout-padding ng-click="pc.goToSearch()">Rate a beer!</md-button>
  </div>
  <div layout="column">
    <div layout-gt-md="row" layout-align="space-around">
      <!-- <div layout="row"  layout-align="space-around"> -->
      <md-card flex-gt-md="40" layout-padding>
        <h1>Rating by category</h1>
        <canvas id="radar"></canvas>
      </md-card>
      <!-- </div> -->
      <!-- <div layout="row" layout-align="space-around"> -->
      <md-card flex-gt-md="40" layout-padding>
        <h1>Rating by IBU</h1>
        <canvas id="myChart"></canvas>
      </md-card>
      <!-- </div> -->
    </div>
  </div>
</div>