<div ng-include="'views/partials/nav.html'"></div>
<div layout="row" layout-align="center">
  <div flex-gt-sm="50" layout="row">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{rc.beer.name}}</span>
          <span class="md-subhead">{{rc.beer.brewery}}</span>
          <span class="md-subhead">{{rc.beer.style.category.name}}</span>
          <span class="md-subhead">{{rc.beer.style.name}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-md card-media">
            <img ng-src="{{rc.beer.imgurl}}">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-content layout="column">
        <div layout="row">
          <div layout="column" flex="50">
            <div layout="row" layout-align="space-around">
              <span ng-if="rc.beer.ibu != undefined">IBU: {{rc.beer.ibu}} </span>
              <!-- <span ng-if="rc.beer.ibu === undefined">IBU (style): {{rc.beer.style.ibuMin}} - {{rc.beer.style.ibuMax}} </span> -->
              ABV: {{rc.beer.abv}}%
            </div>
            <div flex>
              <p>
                {{rc.beer.description}}
              </p>
            </div>
          </div>
          <md-card-actions flex="75" layout="column" layout-align="space-around">
            <div layout="column">
              <span ng-mouseleave="rc.ratingLeave()" ng-click="rc.starRating($event)" class="md-headline star-rating-system">
                <span  ng-mouseenter="rc.ratingHover($event)" 
                  id="1" ng-class="{'gold': review.rating >= 1,'no-star': review.rating < 1}"
                  class="fa fa-beer rating-icon no-star" aria-hidden="true"></span>
                <span  ng-mouseenter="rc.ratingHover($event)" 
                  id="2" ng-class="{'gold': review.rating >= 2,'no-star': review.rating < 2}"
                  class="fa fa-beer rating-icon no-star" aria-hidden="true"></span>
                <span  ng-mouseenter="rc.ratingHover($event)" 
                  id="3" ng-class="{'gold': review.rating >= 3,'no-star': review.rating < 3}"
                  class="fa fa-beer rating-icon no-star" aria-hidden="true"></span>
                <span  ng-mouseenter="rc.ratingHover($event)" 
                  id="4" ng-class="{'gold': review.rating >= 4,'no-star': review.rating < 4}"
                  class="fa fa-beer rating-icon no-star" aria-hidden="true"></span>
                <span  ng-mouseenter="rc.ratingHover($event)" 
                  id="5" ng-class="{'gold': review.rating >= 5,'no-star': review.rating < 5}"
                  class="fa fa-beer rating-icon no-star" aria-hidden="true"></span>
              </span>
              <span>{{rc.ratingMessage}}</span>
            </div>
            <md-input-container>
              <textarea ng-model="rc.review.comment" placeholder="Comment..."></textarea>
            </md-input-container>
          </md-card-actions>
        </div>
        <div layout="row">
          <div flex layout="column" layout-align="end end">
            <md-button ng-click="rc.submitReview(rc.review)" class="md-primary">Submit Rating</md-button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>