<div ng-include="'views/partials/nav.html'"></div>
<div flex layout="row" layout-align="center" flex="50">
  <div layout="column">
    <div layout="row" flex-gt-xs="50" layout-align="center">
      <div flex id="searchBox" layout="column" layout-align="center center">
        <form ng-submit="sc.searchBeer(sc.data.keyword)">
          <md-input-container>
            <label>Search</label>
            <input type="search" ng-model="sc.data.keyword">
          </md-input-container>
        </form>
        <span>OR</span>
        <md-button ng-click="sc.goToManualEntry()">Enter a beer manually...</md-button>
      </div>
    </div>
  </div>
</div>
<div flex layout-align="center" layout="row" flex="50">
  <div layout="column">
    <div ng-repeat="beer in sc.data.beers" layout="row">
        <md-card flex ng-click="sc.selectBeer(beer)">
          <md-card-title>
            <md-card-title-text layout="column">
              <span class="md-headline">{{beer.name}}
              </span>
              <span class="md-subhead"> by {{beer.breweries[0].name}}</span>
              <span class="md-subhead">{{beer.style.name}}</span>
              <span class="md-subhead">{{beer.style.category.name}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div layout-margin class="md-media-md card-media">
                <img ng-src="{{beer.imgurl}}">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-content>
            <span ng-show="beer.ibu != undefined">IBU: {{beer.ibu}}</span>
            ABV: {{beer.abv}}%
          </md-card-content>
        </md-card>
    </div>
  </div>
</div>